<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/dotxho3ns/image/upload/v1626701197/TrainMe/static/victor-freitas-Yuv-iwByVRQ-unsplash_twwpzi.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h1 class="card-title">Edit Trainer Profile</h1>
                    <form action="/trainers/<%= trainer._id %>?_method=PUT" method="POST" novalidate class="validated-form" 
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" name="trainer[firstName]" 
                                value="<%= trainer.firstName %>" required>
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" class="form-control" name="trainer[lastName]" 
                                value="<%= trainer.lastName %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="street" class="form-label">Address</label>
                            <input type="text" id="street" class="form-control" name="trainer[street]" 
                                value="<%= trainer.street %>" required>
                            <div class="invalid-feedback">
                                Please provide a valid address.
                            </div>
                            <input type="text" id="street2" class="form-control" name="trainer[street2]" 
                                value="<%= trainer.street2 %>">
                            <label for="city" class="form-label">City</label>
                            <input type="text" id="city" class="form-control" name="trainer[city]" 
                                value="<%= trainer.city %>" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                            <label for="state" class="form-label">State</label>
                            <input type="text" id="state" class="form-control" name="trainer[state]" 
                                value="<%= trainer.state %>" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                            <label for="zip" class="form-label">Zipcode</label>
                            <input type="number" name="trainer[zip]" id="zip" class="form-control"
                                value="<%= trainer.zip %>" required>
                            <div class="invalid-feedback">
                                Please provide a valid zipcode.
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>What services do you provide?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="services[]" id="training" value="Training" class="form-check-input services">
                                <label for="training" class="form-check-label">Training</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="services[]" id="nutrition" value="Nutrition" class="form-check-input services">
                                <label for="nutrition" class="form-check-label">Nutrition</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>Where do you provide your services?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="inGym" value="In Gym" class="form-check-input service-location">
                                <label for="inGym" class="form-check-label">In Gym</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="inHome" value="In Home" class="form-check-input service-location">
                                <label for="inHome" class="form-check-label">In Home</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="outside" value="Outside" class="form-check-input service-location">
                                <label for="outside" class="form-check-label">Outside</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="online" value="Online" class="form-check-input service-location">
                                <label for="online" class="form-check-label">Online</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>What certifications do you have?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="issa" value="ISSA" class="form-check-input certification">
                                <label for="issa" class="form-check-label">ISSA</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="ncsf" value="NCSF" class="form-check-input certification">
                                <label for="ncsf" class="form-check-label">NCSF</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="fm" value="FM" class="form-check-input certification">
                                <label for="fm" class="form-check-label">FM</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="ace" value="ACE" class="form-check-input certification">
                                <label for="ace" class="form-check-label">ACE</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="nasm" value="NASM" class="form-check-input certification">
                                <label for="nasm" class="form-check-label">NASM</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Bio</label>
                            <textarea name="trainer[description]" id="description" rows="5" 
                                class="form-control" required><%= trainer.description %></textarea>
                            <div class="invalid-feedback">
                                Your biography cannot be blank.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Change Your Profile Picture</label>
                            <input type="file" name="image" id="image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info">Update</button>
                        </div>
                    </form>
                    <a href="/trainers/<%= trainer._id %>">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const trainer = <%- JSON.stringify(trainer) %>;
</script>
<script src="/javascripts/toggleCheckboxes.js"></script>